html,
body {
    font-family: 'Open Sans', 'Droid Sans', Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
}

.row {
    padding: 16px;
    max-width: 800px;
    margin: 0 auto;
}

/**************
* Text Styles *
**************/

@font-face { 
    font-family: 'Jenna Sue'; 
    src: local('Jenna Sue'),
         url('/fonts/JennaSue.ttf') format('truetype'); 
}

a,
p i {
    color: #49BD00;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: underline;
}

h1 {
    font-family: 'Jenna Sue';
    font-size: 56px;
    font-weight: 400;
    color: #3E2723;
    margin-bottom: 12px;
    text-align: center;
}

p.subtitle {
    text-align: center;
}

p.subtitle {
    margin-top: 0;
}

/*********
* NAVBAR *
*********/

nav {
    width: 100%;
    min-height: 56px;
    line-height: 56px;
    position: absolute;
    top: 0;
    z-index: 900;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}

/*********
* FOOTER *
*********/

footer {
    width: 100%;
    min-height: 56px;
    line-height: 56px;
    color: #fff;
    background-color: #3E2723;

}

footer p {
    display: inline-block;
    margin: 0 12px;
    font-size: 12px;
}

/***************
* FOOTER & NAV *
***************/

footer > ul,
nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 100%;
}

footer > ul > li,
nav > ul > li {
    margin: 0 10px;
    position: relative;
    float: left;
}

footer > ul > li > a,
footer > ul > li > a:visited,
nav > ul > li > a,
nav > ul > li > a:visited {
    margin: 0;
    padding: 0 3px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.24);
    opacity: 0.8;
    filter: alpha(opacity=80);
    display: inline-block;
    text-transform: uppercase;
}

footer > ul > li > a:focus
nav > ul > li > a:focus {
    text-decoration: none;
    color: #49BD00;
}

footer > .right,
nav > .right {
    float: right;
    margin-right: 3px;
}

/**********
* CONTENT *
**********/

#hero {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url('/images/hero.jpg');
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%),
                      url('/images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
}

#hero-overlay {
    background-image: url('/images/net.png');
    width: 100%;
    height: 100%;
    animation-delay: 500ms;
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
}

#hero .img-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center;
}

#hero .img-div:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#hero img {
    width: 400px;
    height: 400px;
    max-width: 75%;
    vertical-align: middle;
    display: inline-block;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
